html,body {
    background: url(testbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
p {
   color: red;
   font-size:300%;
   text-align: center;
}
h3 {
	color: yellow;
}