html,body {
    background: url(testbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
p {
   color: red;
   font-size:300%;
   text-align: center;
}
h3 {
	color: yellow;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
aboutme {
   text-color: red;
}   
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20px;
   background-color:black;
   
}   

